* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(40, 44, 54);
}

.intro {
    margin-top: 3.1em;
    margin-bottom: 3.1em;
}

.intro h1 {
    color: white;
    text-align: center;
}

.intro h2 {
    color: white;
    text-align: center;
}

main {
    /* display: flex; */
}

.movie-container {
    margin-bottom: 0.8em;
}

.movie {
    width: 93%;
    /* height: 800px; */
    margin: 0 auto;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 8px;
}

.movie-info {
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ranking {
    background-color: rgba(54, 54, 54, 0.479);
    border-bottom-right-radius: 8px;
    width: 60px;
    margin-bottom: 10px;
}

.title {
    width: 95%;
    margin: 0 auto;
    font-family: "Roboto Slab", serif;
    /* font-optical-sizing: auto; */
    font-weight: 700;
    background-color: rgba(54, 54, 54, 0.479);
    border-radius: 8px;
}

.cover {
    width: 200px;
    margin: 0.5em auto 0.5em auto;
}

/* .rating {} */

.star {
    width: 200px;
    margin: 0 auto;
}

.thoughts {
    color: white;
    /* background-color: rgba(255, 255, 255, 0.082); */
    background-color: rgba(54, 54, 54, 0.623);
    border-radius: 8px;
    padding: 0.5em 0.5em 0.1em 0.5em;
    width: 90%;
    margin: 1em auto 1em auto;
    font-family: "Noto Serif", serif;
    /* font-optical-sizing: auto; */
}

.thoughts ul {
    list-style-type: none;
}

.thoughts li {
    margin-bottom: 10px;
}

@media (min-width: 600px) {}

@media (min-width: 768px) {
    .movie {
        display: flex;
        align-items: center;
    }

    .movie-info {
        padding-bottom: 30px;
        width: 45%;
        max-width: 300px;
    }

    .title {
        margin-top: 10px;
    }

    .thoughts {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .movie {
        max-width: 1000px;
    }

    .movie-info {
        width: 40%;
        max-width: 300px;
    }
}

@media (min-width: 1200px) {
    main {
        display: flex;
    }

    .movie-container {
        margin: 0em 0.7em 0em 0.7em;
    }

    .movie {
        width: 1000px;
        height: 600px;
    }

    .movie-info {
        height: 100%;
        padding: 0;
        max-width: 350px;
    }

    .ranking {
        margin-bottom: 50px;
    }

    .title {
        max-width: 340px;
    }

    .cover {
        margin: 1em auto 2em auto;
    }

    .thoughts {
        padding: 1.5em 1.5em 1em 1.5em;
        margin: 0 auto;
    }

    #movie22 .ranking {
        margin-bottom: 7px;
    }

    #movie28 .ranking {
        margin-bottom: 7px;
    }
}





#movie1 {
    background-image: url("/MOVIE_BACKGROUNDS/LostInTranslation-BLUR.jpg");
    background-size: cover;
}

#movie2 {
    background-image: url("/MOVIE_BACKGROUNDS/TheBreakfastClub-BLUR.jpg");
    background-size: cover;
}

#movie3 {
    background-image: url("/MOVIE_BACKGROUNDS/SonicTheHedgehog_BLUR.jpg");
    background-size: cover;
}

#movie4 {
    background-image: url("/MOVIE_BACKGROUNDS/NoHardFeelings_BLUR.jpg");
    background-size: cover;
}

#movie5 {
    background-image: url("/MOVIE_BACKGROUNDS/CrazyStupidLove_BLUR.jpg");
    background-size: cover;
}

#movie6 {
    background-image: url("/MOVIE_BACKGROUNDS/Spiderman_BLUR.jpg");
    background-size: cover;
}

#movie7 {
    background-image: url("/MOVIE_BACKGROUNDS/Soul_BLUR.jpg");
    background-size: cover;
}

#movie8 {
    background-image: url("/MOVIE_BACKGROUNDS/InsideOut_BLUR.jpg");
    background-size: cover;
}

#movie9 {
    background-image: url("/MOVIE_BACKGROUNDS/TheSocialNetwork_BLUR.jpg");
    background-size: cover;
}

#movie10 {
    background-image: url("/MOVIE_BACKGROUNDS/AQuietPlace_BLUR.jpg");
    background-size: cover;
}

#movie11 {
    background-image: url("/MOVIE_BACKGROUNDS/TheMenu_BLUR.jpg");
    background-size: cover;
}

#movie12 {
    background-image: url("/MOVIE_BACKGROUNDS/Superbad_BLUR.jpg");
    background-size: cover;
}

#movie13 {
    background-image: url("/MOVIE_BACKGROUNDS/LaLaLand_BLUR.jpg");
    background-size: cover;
}

#movie14 {
    background-image: url("/MOVIE_BACKGROUNDS/500DaysOfSummer_BLUR.jpg");
    background-size: cover;
}

#movie15 {
    background-image: url("/MOVIE_BACKGROUNDS/FightClub_BLUR.jpg");
    background-size: cover;
}

#movie16 {
    background-image: url("/MOVIE_BACKGROUNDS/AnotherRound_BLUR.jpg");
    background-size: cover;
}

#movie17 {
    background-image: url("/MOVIE_BACKGROUNDS/ForrestGump_BLUR.jpg");
    background-size: cover;
}

#movie18 {
    background-image: url("/MOVIE_BACKGROUNDS/AmericanPsycho_BLUR.jpg");
    background-size: cover;
}

#movie19 {
    background-image: url("/MOVIE_BACKGROUNDS/Moonlight_BLUR.jpg");
    background-size: cover;
}

#movie20 {
    background-image: url("/MOVIE_BACKGROUNDS/BackToTheFuture_BLUR.jpg");
    background-size: cover;
}

#movie21 {
    background-image: url("/MOVIE_BACKGROUNDS/MemoriesOfMurder_BLUR.jpg");
    background-size: cover;
}

#movie22 {
    background-image: url("/MOVIE_BACKGROUNDS/TheShawshankRedemption_BLUR.jpg");
    background-size: cover;
}

#movie23 {
    background-image: url("/MOVIE_BACKGROUNDS/MysteriousSkin_BLUR.jpg");
    background-size: cover;
}

#movie24 {
    background-image: url("/MOVIE_BACKGROUNDS/BeforeSunrise_BLUR.jpg");
    background-size: cover;
}

#movie25 {
    background-image: url("/MOVIE_BACKGROUNDS/TheTrumanShow_BLUR.jpg");
    background-size: cover;
}

#movie26 {
    background-image: url("/MOVIE_BACKGROUNDS/CityOfGod_BLUR.jpg");
    background-size: cover;
}

#movie27 {
    background-image: url("/MOVIE_BACKGROUNDS/PerfectDays_BLUR.jpg");
    background-size: cover;
}

#movie28 {
    background-image: url("/MOVIE_BACKGROUNDS/EternalSunshine_BLUR.jpg");
    background-size: cover;
}

#movie29 {
    background-image: url("/MOVIE_BACKGROUNDS/GoodWillHunting_BLUR.jpg");
    background-size: cover;
}

#movie30 {
    background-image: url("/MOVIE_BACKGROUNDS/PastLives_BLUR.jpg");
    background-size: cover;
}